beautifulsoup4==4.14.3
datasets==4.2.0
faiss_cpu==1.12.0
langchain_experimental==0.4.0
langchain_text_splitters==1.0.0
matplotlib==3.10.7
nltk==3.9.2
numpy==2.3.5
pandas==2.3.3
pytest==8.4.2
pytest_mock==3.15.1
Requests==2.32.5
seaborn==0.13.2
sentence_transformers==5.1.1
torch==2.8.0
tqdm==4.67.1
